In [5]:
# Re-import modified modules without restarting the server
%load_ext autoreload
%autoreload 2
%load_ext dotenv
%dotenv

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
# !git clone https://github.com/leap-laboratories/PIZZA.git
# !pip install python-dotenv openai transformers

In [29]:
import asyncio

from attribution.api_attribution import OpenAIAttributor
from attribution.experiment_logger import ExperimentLogger
from attribution.token_perturbation import (
    FixedPerturbationStrategy,
    NthNearestPerturbationStrategy,
)

attributor = OpenAIAttributor()

/home/andrew/leap/llm-attribution/.venv/lib/python3.10/site-packages/huggingface_hub/file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(

In [37]:
input_str = "Mary puts an apple in the box. The box is labelled 'pencils'. John enters the room. What does he think is in the box? Answer in 1 word."
response = await attributor.get_chat_completion(input_str)

Value(False)

In [31]:
print(response.message.content)

Apples

In [40]:
logger = ExperimentLogger()
await attributor.compute_attributions(
    input_str,
    perturbation_strategy=FixedPerturbationStrategy(""),
    attribution_strategies=["prob_diff"],
    logger=logger,
    perturb_word_wise=False,
    ignore_output_token_location=True,
)
display(logger.df_experiments)
logger.print_sentence_attribution()
logger.print_attribution_matrix(exp_id=1, show_debug_cols=True)

/home/andrew/leap/llm-attribution/.venv/lib/python3.10/site-packages/huggingface_hub/file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration
0,1,Mary puts an apple in the box. The box is labe...,Apples,fixed,False,2.501051

Attribution matrix for experiment 1
Attribution Strategy: prob_diff
Perturbation strategy: fixed:
Input Tokens (Rows) vs. Output Tokens (Columns)

In [39]:
logger = ExperimentLogger()
await attributor.compute_attributions(
    input_str,
    perturbation_strategy=FixedPerturbationStrategy(""),
    attribution_strategies=["cosine"],
    logger=logger,
    perturb_word_wise=False,
    ignore_output_token_location=True,
)
display(logger.df_experiments)
logger.print_sentence_attribution()
logger.print_attribution_matrix(exp_id=1, show_debug_cols=True)

/home/andrew/leap/llm-attribution/.venv/lib/python3.10/site-packages/huggingface_hub/file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration
0,1,Mary puts an apple in the box. The box is labe...,Apples,fixed,False,13.273069

Attribution matrix for experiment 1
Attribution Strategy: cosine
Perturbation strategy: fixed:
Input Tokens (Rows) vs. Output Tokens (Columns)