In [1]:
# Re-import modified modules without restarting the server
%load_ext autoreload
%autoreload 2
%load_ext dotenv
%dotenv

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
# !git clone https://github.com/leap-laboratories/PIZZA.git
# !pip install python-dotenv openai transformers

In [3]:
from attribution.api_attribution import OpenAIAttributor
from attribution.experiment_logger import ExperimentLogger
from attribution.token_perturbation import (
    FixedPerturbationStrategy,
)

attributor = OpenAIAttributor(request_chunksize=10)

/home/andrew/leap/llm-attribution/.venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
/home/andrew/leap/llm-attribution/.venv/lib/python3.10/site-packages/huggingface_hub/file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(

In [4]:
input_str = "Mary puts an apple in the box. The box is labelled 'pencils'. John enters the room. What does he think is in the box? Answer in 1 word."
response = await attributor.get_chat_completion(input_str)

In [5]:
print(response.message.content)

Apples

In [7]:
logger = ExperimentLogger()
await attributor.compute_attributions(
    input_str,
    perturbation_strategy=FixedPerturbationStrategy(""),
    attribution_strategies=["prob_diff"],
    logger=logger,
    perturb_word_wise=False,
    ignore_output_token_location=True,
)
display(logger.df_experiments)
logger.print_sentence_attribution()
logger.print_attribution_matrix(exp_id=1, show_debug_cols=True)

/home/andrew/leap/llm-attribution/.venv/lib/python3.10/site-packages/huggingface_hub/file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(
Sending 10 concurrent requests at a time: 100%|██████████| 4/4 [00:01<00:00,  2.54it/s]

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration
0,1,Mary puts an apple in the box. The box is labe...,Apples,fixed,False,1.886879

Attribution matrix for experiment 1
Attribution Strategy: prob_diff
Perturbation strategy: fixed:
Input Tokens (Rows) vs. Output Tokens (Columns)

In [8]:
logger = ExperimentLogger()
await attributor.compute_attributions(
    input_str,
    perturbation_strategy=FixedPerturbationStrategy(""),
    attribution_strategies=["cosine"],
    logger=logger,
    perturb_word_wise=False,
    ignore_output_token_location=True,
)
display(logger.df_experiments)
logger.print_sentence_attribution()
logger.print_attribution_matrix(exp_id=1, show_debug_cols=True)

/home/andrew/leap/llm-attribution/.venv/lib/python3.10/site-packages/huggingface_hub/file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(
Sending 10 concurrent requests at a time: 100%|██████████| 4/4 [00:01<00:00,  2.15it/s]

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration
0,1,Mary puts an apple in the box. The box is labe...,Apples,fixed,False,2.270621

Attribution matrix for experiment 1
Attribution Strategy: cosine
Perturbation strategy: fixed:
Input Tokens (Rows) vs. Output Tokens (Columns)