In [11]:
# Re-import modified modules without restarting the server
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
# !git clone https://github.com/leap-laboratories/PIZZA.git
# !pip install python-dotenv openai transformers

In [67]:
from attribution.api_attribution import OpenAIAttributor
from attribution.experiment_logger import ExperimentLogger
from attribution.token_perturbation import (
    FixedPerturbationStrategy,
    NthNearestPerturbationStrategy,
)

attributor = OpenAIAttributor()

/Users/jessicarumbelow/PIZZA/.venv/lib/python3.10/site-packages/huggingface_hub/file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(

In [72]:
input_str = "Mary is 43. There are [] months until her 50th birthday."
print(attributor.get_chat_completion(input_str).message.content)

There are 84 months until her 50th birthday.

In [73]:
logger = ExperimentLogger()
attributor.compute_attributions(
    input_str,
    perturbation_strategy=FixedPerturbationStrategy(""),
    attribution_strategies=["prob_diff"],
    logger=logger,
    perturb_word_wise=False,
    ignore_output_token_location=True,
)
display(logger.df_experiments)
logger.print_sentence_attribution()
logger.print_attribution_matrix(exp_id=1, show_debug_cols=True)

/Users/jessicarumbelow/PIZZA/.venv/lib/python3.10/site-packages/huggingface_hub/file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration
0,1,Mary is 43. There are [] months until her 50th...,There are 84 months until her 50th birthday.,fixed,False,23.90601

Attribution matrix for experiment 1
Attribution Strategy: prob_diff
Perturbation strategy: fixed:
Input Tokens (Rows) vs. Output Tokens (Columns)