## WIP!
Will update with sexy examples when Andrew's code is in and everything is fast!

In [54]:
# Re-import modified modules without restarting the server
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [48]:
import os
import sys
import warnings

notebook_path = os.path.abspath(get_ipython().starting_dir)
parent_path = os.path.dirname(notebook_path)

sys.path.append(parent_path)
warnings.simplefilter("ignore")

In [49]:
# !git clone https://github.com/leap-laboratories/PIZZA.git
# !pip install python-dotenv openai transformers

In [50]:
from attribution.api_attribution import OpenAIAttributor
from attribution.experiment_logger import ExperimentLogger
from attribution.token_perturbation import (
    FixedPerturbationStrategy,
)

attributor = OpenAIAttributor()
# attributor = OpenAIAttributor(openai_api_key="YOUR_API_KEY_GOES_HERE")

In [51]:
input_str = "Repeat the word 'the' 3 times."
print(attributor.get_chat_completion(input_str).message.content)

the the the

In [52]:
logger = ExperimentLogger()
attributor.compute_attributions(
    input_str,
    perturbation_strategy=FixedPerturbationStrategy(""),
    attribution_strategies=["prob_diff"],
    logger=logger,
    perturb_word_wise=False,
    ignore_output_token_location=True,
)
display(logger.df_experiments)
logger.print_sentence_attribution()
logger.print_attribution_matrix(exp_id=1, show_debug_cols=True)

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration
0,1,Repeat the word 'the' 3 times.,the the the,fixed,False,60.435367

Attribution matrix for experiment 1
Attribution Strategy: prob_diff
Perturbation strategy: fixed:
Input Tokens (Rows) vs. Output Tokens (Columns)

In [53]:
logger = ExperimentLogger()
attributor.compute_attributions(
    input_str,
    perturbation_strategy=FixedPerturbationStrategy(""),
    attribution_strategies=["cosine"],
    logger=logger,
    perturb_word_wise=False,
    ignore_output_token_location=True,
)
display(logger.df_experiments)
logger.print_sentence_attribution()
logger.print_attribution_matrix(exp_id=1, show_debug_cols=True)

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration
0,1,Repeat the word 'the' 3 times.,the the the,fixed,False,72.727495

Attribution matrix for experiment 1
Attribution Strategy: cosine
Perturbation strategy: fixed:
Input Tokens (Rows) vs. Output Tokens (Columns)